{% extends 'base.html.twig' %}
{% block head %}
{{parent()}}
{% endblock %}
{% block body %}
    {% block title %}
        <h1 class="admin-title title">Admin Panel!</h1>
        <h3 class="user-name">
            <span>{{ app.user.Username }}</span>
            <ul class="user_logout account-logout">
                <li><a href="/logout">(Sign Out)</a></li>
            </ul>
        </h3>
        <p class="back_button">Back to <a href="/">Home</a></p>
    {% endblock %}

    {% block footer %}
    {% endblock %}
{% endblock %}