.title {
    text-align: center;
    margin: 5%;
    font-size: 5em;
    font-family: 'Baloo Thambi', cursive;
    color: #ff000075;
}

.account-title {
    margin: 1%;
    text-align: left;
    font-size: 3em;
    display: contents;
}

.main_user_login {
    margin: 0 auto;
    list-style-type: none;
    margin-block-start: 0;
    padding-inline-start: 0;
    margin-block-end: 0;
    text-align: center;
    font-family: 'Permanent Marker', cursive;
    border: 4px solid #00bbff73;
    width: 36%;
    padding-block-start: 3%;
    padding-block-end: 3%;
}

.main_user_login > li > a {
    font-size: 2em;
    text-decoration: none;
    opacity: 0.7;
}

.main_user_login > li > a:hover {
    opacity: 1;
}

.back_button {
    font-family: 'Righteous', cursive;
    float: right;
    margin: 0 auto;
}

.back_button > a {
    color: #0058ff;
}

.form-signin,
.form_register {
    margin: 0 auto;
    list-style-type: none;
    margin-block-start: 0;
    padding-inline-start: 0;
    margin-block-end: 0;
    text-align: center;
    font-family: 'Permanent Marker', cursive;
    border: 4px solid #00bbff73;
    width: 36%;
    padding-block-start: 3%;
    padding-block-end: 3%;
}

.form-signin > p,
.form_register > div {
    padding-left: 15%;
    text-align: left;
}

.form-signin > p > input,
.form_register > div > input {
    width: 50%;
    border: none;
    cursor: pointer;
    margin-left: 10px;
    border: 1px solid;
}

.form-signin .login_button,
.form_register .login_button {
    border: 2px solid #00bbff73;
    font-family: 'Permanent Marker', cursive;
    font-size: 1.4em;
    background: none;
    cursor: pointer;
    margin-top: 3%;
}

.form-signin .login_button:hover,
.form-signin .login_button:active,
.form_register .login_button:hover,
.form_register .login_button:active {
    background: #00bbff73;
}

.user_logout {
    font-family: 'Oswald', sans-serif;
    position: absolute;
    top: 3%;
    right: 4%;
    list-style-type: none;
}

.user_logout a {
    text-decoration: none;
    font-size: 1.3em;
    color: #ffb300a3;
    float: right;
}

.user_logout a:hover,
.user_logout a:active {
    color: red;
}

.logining-info {
    text-align: center;
    margin: 0 auto;
    font-family: 'Oswald', sans-serif;
    font-size: 2em;
}

.logining-info span {
    color: coral;
}

.user-name {
    color: coral;
    font-family: 'Oswald', sans-serif;
    font-size: 2em;
    text-align: center;
}

.user-name > h3 {
    margin: 0;
}

.user-accaunt a {
    text-decoration: none;
    color: green;
    opacity: 0.7;
}

.account_logout{
    float: right;
    color: coral;
    font-family: 'Oswald', sans-serif;
    font-size: 0.7em;
    opacity: 0.6;
    text-decoration: none;
}

.account_logout:hover,
.account_logout:active {
    opacity: 1;
}

.user-accaunt a:hover,
.user-accaunt a:active {
    opacity: 1;
}

#form {
    background: #00bbff33;
    text-align: center;
    padding: 1% 0 2% 0;
}

#form form {
    margin-bottom: 0;
    font-family: 'Permanent Marker', cursive;
}

.error {
    color: red;
}

.square {
    width: 5px;
    height: 5px;
    margin: 2px;
    text-align: center;
    border: 1px solid;
    float: left;
}

#squareGreen {
    background: green;
}

.account-logout {
    position: inherit;
    font-size: 1.1em;
}

.data-save {
    margin-bottom: 1%;
}

.calculate_botton,
#reload {
    border: none;
    font-size: 1em;
    font-family: 'Merienda', cursive;
    cursor: pointer;
    border-radius: 5px;
}

.calculate_botton {
    background: #00800075;
}

.reload_block {
    text-align: center;
}

#reload {
    background: #800000cf;
    color: white;
    margin: 2%;
}

#reload:hover,
#reload:active {
    background: #800000;
}

.calculate_botton:hover,
.calculate_botton:active {
    background: #008000d1;
}

.weeks-info {
    font-family: 'Merienda', cursive;
    font-size: 1.2em;
}

.weeks-info span {
    font-family: 'Concert One', cursive;
}

#admin-list {
    border: 2px solid;
}

#admin-list,
#admin-list ul {
    padding: 0;
}

#admin-list li {
    list-style-type: none;
}

#admin-list-title {
    padding: 0 3% 0 3%;
}

#admin-list-title > ul {
    display: inline-flex;
    width: 100%;
    padding: 1% 0 1% 0;
}

#admin-list-title > ul > .user-name {
    border-right: 3px solid;
}

#admin-list-title > ul > li {
    width: 50%;
}

#accounts-admin-list {
    padding: 0 3% 0 3%;
    margin-bottom: 2%;
}

#accounts-admin-list > ul > li > ul {
    display: inline-flex;
    width: 100%;
}

#accounts-admin-list > ul > li > ul > li {
    width: 16%;
    padding: 1% 5px 1% 5px;
    border: 1px solid;
}

#felds-name > li {
    text-align: center;
    background: #0080006e;
    font-family: 'Baloo Thambi', cursive;
}

.user-setting-button {
    text-align: center;
}

.user-setting-button a {
    background: #8888e3;
    text-decoration: none;
    color: white;
    padding: 1% 10%;
    border-radius: 6px;
    opacity: 0.5;
}

.delete > a {
    background: red;
}

.save > a {

}

.user-setting-button a:hover,
.user-setting-button a:active {
    opacity: 1;
}

#user-accounts-manager {
    padding: 1% 2% 1% 2%;
}

#accountManager .form-fields label {
    font-family: 'Baloo Thambi', cursive;
    margin-right: 1%;
    font-size: 2em;
    color: #009fffbd;
}

#accountManager .form-fields input#email {
    width: 20%;
}

#accountManager .form-fields input,
#accountManager .form-fields select,
#accountManager .form-fields option {
    padding: 5px;
    background: #00007e3d;
    border: none;
}

#accountManager .update_botton {
    border: none;
    padding: 0.4% 2%;
    background: green;
    color: white;
    font-size: 1em;
    opacity: 0.5;
    font-family: 'Baloo Thambi', cursive;
    cursor: pointer;
}

#accountManager .update_botton:hover,
#accountManager .update_botton:active {
    opacity: 1;
}

.user-delete-button {
    background: red;
    color: white;
    text-decoration: none;
    padding: 0.6% 1%;
    margin-left: 1%;
}

.setting_buttons {
    display: flex;
}

a.new_user {
    background: green;
    opacity: 0.7;
    color: white;
    text-decoration: none;
    padding: 1% 1%;
    display: inline-block;
    margin-top: 1%;
}
