{% extends 'base.html.twig' %}

{% block head %}
    {{ parent() }}
    <link href="https://fonts.googleapis.com/css?family=Righteous" rel="stylesheet">
{% endblock %}
{% block title %}
    <h1 class="title">Authorization</h1>
    <p class="back_button">Please, Sign In or back to <a href="/">Home</a></p>
{% endblock %}
{% block form %}
    <form class="form-signin" method="post">
        {% if error %}
            <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}
        <p>
            <label for="inputEmail" class="sr-only">Email address:</label>
            <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Email address" required
                   autofocus>
        </p>
        <p>
            <label for="inputPassword" class="sr-only">Password:</label>
            <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password"
                   required>
        </p>
        <p>
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" value="remember-me"> Remember me
            </label>
        </div>
        </p>
        <button class="login_button btn btn-lg btn-primary btn-block" type="submit">
            Sign in
        </button>
    </form>
{% endblock %}
{% block footer %}
    {{ parent() }}
{% endblock %}